doctype html
html 
  head
    title Test
    link(href="main.css", rel="stylesheet", type="text/css")
  
  body
    section.list
      .content
        article
          a(href="#"): img(src="/img/semir.png")
          h4 Article 1
          p Lorem ipsum dolor sit amet ..
          a#btn Mehr ...
          
        article
          a(href="#"): img(src="/img/calendar.png")
          h4 Article 1
          p Lorem ipsum dolor sit amet ..
          a#btn Mehr ...
            
        article
          a(href="#"): img(src="/img/faq.png")
          h4 Article 1
          p Lorem ipsum dolor sit amet ..
          a#btn Mehr ...
              
        article
          a(href="#"): img(src="/img/gps.png")
          h4 Article 1
          p Lorem ipsum dolor sit amet ..
          a#btn Mehr ...
          
        article
          a(href="#"): img(src="/img/semir.png")
          h4 Article 1
          p Lorem ipsum dolor sit amet ..
          a#btn Mehr ...
            
        article
          a(href="#"): img(src="/img/semir.png")
          h4 Article 1
          p Lorem ipsum dolor sit amet ..
          a#btn Mehr ...
